*{
  box-sizing: border-box;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
table{
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

td{
  width: 14.2857%;
  vertical-align: top;
}

#logo{
  font-family: 'Pacifico', cursive;
}

.calendar_day{
  display: none;
  margin-top: 56px;
}
.calendar_month{
  margin-top: 56px;
}
.calendar{
  border: 1px solid #ddd;
}

.schedule_start_input, .schedule_finish_input{
  display: flex;
}

.error_input{
  background-color: #cc5947;
}

.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}

.schedule_month{
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.3rem;
  background-color: #78b73e;
  color: #FFF;
  border-radius: 10%;
  margin-bottom: 1px;
}

.schedule_day{
  position: absolute;
  list-style-type: none;
  text-overflow: clip;
  background-color: #78b73e;
  color: #FFF;
  width: 85%;
  border-radius: 10%;
  height: 29px;
  margin-bottom: 1px;
}


.calendar_day table{
  width: 85%;
  margin-left: 15%;
}
.daily_calendar_row{
  height: 30px;
}

.calendar_day tbody td{
  position: relative;
}
.timeline{
  position: absolute;
  top: -13px;
  left: -15%;
}

#delete_schedule_button{
  display: none;
  margin-left: 20px;
}

#sign_up_complete_button, #sign_in_complete_button{
  margin-top: 10px;
}

.btn_b {
  width: 38px;
  height: 38px;
  background: #FFF;
  border: 2px solid #2a82a3;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  color: #2a82a3;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
}
.btn_b:hover {
  background: #2a82a3;
  color: #FFF;
  border: 2px solid #FFF;
}

.arrow{
  display:  inline-block;
  color: #aaa;
  text-decoration:  none;
  background-color: #b2eef7;
  border-radius: 5px;
  position:  relative;
  height: 40px;
  width: 40px;
}
.arrow::before{
  content:  '';
  width: 20px;
  height: 20px;
  display:  block;
  transform: rotate(-45deg);
  position:  absolute;
  top: 0px;
  bottom:  0;
  left:  0;
  right:  0;
  margin:  auto;
}
.right_arrow::before {
  border-bottom: solid 2px;
  border-right: solid 2px;
}

.left_arrow::before {
  border-top: solid 2px;
  border-left: solid 2px;
}
