<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id="logo" href="#">Calen</a>
  <button type="button" class="btn btn-light btn-sm" value="back" onclick="calendar_move(this);">←</button>
  <span class="thisMonth nav-link disabled"></span>
  <button type="button" class="btn btn-light btn-sm" value="forward" onclick="calendar_move(this);">→</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    メニュー
  </div>
</nav>
